<div class="w-full h-10 flex gap-[2px]" data-controller="drum-pattern--track" data-drum-pattern-target="track" 
    data-drum-pattern--track-sound-value="<%= url_for(track.file) %>" 
    data-drum-pattern--track-save-url-value="<%= project_drum_pattern_drum_pattern_track_save_path(drum_pattern.project, drum_pattern, track) %>"
    data-action="drum-pattern:note-played->drum-pattern--track#notePlayed 
        drum-pattern:pause->drum-pattern--track#pause mousedown@window->drum-pattern--track#handleClick
        drum-pattern--track:copy->drum-pattern#copySteps"
    id="<%= dom_id(track) %>">
  <div class="flex flex-col w-10 flex-shrink-0">
    <span class="text-xs text-gray-100 overflow-hidden w-full" data-drum-pattern--track-target="filename"> <%= track.file.blob.filename.base %> </span>
    <%= image_tag "sample.png", class: "w-full h-6 invert" %>
    <%#image_tag("waves.png", class: "w-full h-6 invert", 
        data: { controller: "dropzone", dropzone_url_value: project_drum_pattern_file_uploads_path(@project, @drum_pattern), action: "dropzone:fileadded->drum-pattern--track#fileAdded" }) %>
  </div>
  <% (1..64).each_slice(4).each_with_index do |arr, i| %>
    <% arr.each do |n| %>
      <% is_checked = track.note_data.find { |nd| nd['noteIndex'] == n }&.fetch('checked', false) || false %>
      <div class="w-4 flex-shrink-0">
        <label>
          <%= check_box_tag "note-#{n}", "1", checked: is_checked, class: "hidden peer", data: { "drum-pattern--track-target": "note", index: n, 
              action: "change->drum-pattern--track#save" } %>
          <div class="h-full <%= i % 2 == 0 ? "bg-gray-500 peer-checked:bg-gray-100" : "bg-indigo-500 peer-checked:bg-indigo-200" %>">

          </div>
        </label>
      </div>
    <% end %>
  <% end %>
  <div class="absolute w-40 h-56 bg-gray-500 rounded-lg text-gray-100 hidden flex flex-col gap-4 text-sm z-[1000] overflow-y-auto" data-drum-pattern--track-target="menu">
    <%= link_to "Fill 2 steps", "#", data: { action: "drum-pattern--track#fillTwoSteps" } %>
    <%= link_to "Fill 4 steps", "#", data: { action: "drum-pattern--track#fillFourSteps" } %>
    <%= link_to "Fill All steps", "#", data: { action: "drum-pattern--track#fillAllSteps" } %>
    <%= link_to "Copy Steps", "#", data: { action: "drum-pattern--track#copySteps" } %>
    <%= link_to "Paste Steps", "#", data: { action: "drum-pattern--track#pasteSteps" } %>
    <%= link_to "Clear All Steps", "#", data: { action: "drum-pattern--track#clearAllSteps" } %>
    <%= link_to "Remove Track", project_drum_pattern_path(drum_pattern.project, drum_pattern, drum_pattern_track_id: track.id), data: { turbo_method: :delete } %>
  </div>
</div>