<%= turbo_frame_tag :drum_pattern do %>
  <div class="max-w-5xl w-full mx-auto border-2 border-gray-100 rounded-lg relative px-2 py-4" 
      data-controller="drum-pattern draggable"
      data-action="dragenter->draggable#dragEnter dragend@document->draggable#dragEnd"
      data-drum-pattern-save-url-value="<%= project_save_path(@project) %>"
      data-draggable-url-value="<%= project_drum_pattern_drag_path(@project, @drum_pattern) %>"
      data-drum-pattern="true">
    <div class="w-full flex">
      <%= link_to "#", data: { action: "drum-pattern#play", drum_pattern_target: "play" } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 text-gray-100">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
        </svg>
      <% end %>

      <%= link_to "#", class: "hidden", data: { action: "drum-pattern#pause", drum_pattern_target: "pause" } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 text-gray-100">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
        </svg>
      <% end %>
      
      <%= number_field_tag :bpm, @project.bpm, class: "w-20 bg-gray-600 rounded-lg text-gray-100", data: { drum_pattern_target: "bpm", action: "drum-pattern#save" } %>
    
      <%= image_tag "sample.png", class: "w-10 bg-indigo-500 text-indigo-100 p-2 rouded-lg ml-4 rounded-lg cursor-pointer", 
        data: { 
          controller: "dropzone", dropzone_direct_upload_url_value: rails_direct_uploads_url, 
          dropzone_callback_url_value: project_drum_pattern_file_uploads_path(@project, @drum_pattern), 
          action: "dropzone:fileadded->drum-pattern--track#fileAdded",
          dropzone_accepted_files_value: 'audio/*',
        } %>
    </div>
    <div class="flex flex-col gap-8 mt-4" id="tracks">
      <% @drum_pattern.files.each do |f| %>
        <%= render "track", drum_pattern: @drum_pattern, sound: f %>
      <% end %>
    </div>
    <div class="h-full w-1 bg-gray-100 absolute top-0 left-8 hidden" data-drum-pattern-target="cursor"> </div>
  </div>
<% end %>