<div class="h-screen w-36 fixed top-0 left-0 bg-gray-900 z-[99] overflow-y-scroll">
  <div class="flex flex-col gap-4">
    <%= link_to "My Projects", "/", class:"text-gray-100" %>
    <%= link_to "Add Drumkit", upload_modal_drumkits_path, class: "text-gray-100", data: { turbo_method: :post } %>

    <span class="text-gray-100"> My Drumkits </span>
    
    <% current_user.drumkits.each do |drumkit| %>
      <div class="flex flex-col gap-1 w-full" data-controller="collapsible">
        <span class="text-gray-100 hover:bg-gray-500 w-full py-2 pl-4" data-action="click->collapsible#toggle"> <%= drumkit.name %> </span>
        <div data-collapsible-target="container" class="h-0 overflow-hidden transition-all duration-250 w-full flex flex-col">
          <% drumkit.main_folder.attachment_folders.each do |folder| %>
            <div data-controller="collapsible" class="w-full flex flex-col">
              <span class="text-gray-100 hover:bg-gray-500 w-full text-center py-2 pl-4" data-action="click->collapsible#toggle">
                <%= folder.name %>
              </span>
              <div data-collapsible-target="container" class="h-0 overflow-hidden transition-all duration-250">
                <% folder.attachment_files.each do |file| %>
                  <div class="text-indigo-300 text-xs w-full hover:bg-indigo-600 p-2 cursor-pointer" 
                      data-controller="draggable" id="<%= drumkit.id %>-<%= file.id %>"
                      data-action="dragstart->draggable#dragStart"
                      draggable="true"
                      data-id="<%= file.id %>">
                    <%= file.filename %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <% drumkit.main_folder.attachment_files.each do |file| %>
            <div class="text-indigo-300 text-xs w-full hover:bg-indigo-600 p-2 cursor-pointer" 
                data-controller="draggable" id="<%= drumkit.id %>-<%= file.id %>"
                data-action="dragstart->draggable#dragStart"
                draggable="true"
                data-id="<%= file.id %>">
              <%= file.filename %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>