
<div class="flex flex-col justify-between bg-gray-700 min-h-screen p-16" data-controller="project" 
    data-project-save-url-value="<%= project_save_path(@project) %>"
    data-project-new-drum-pattern-url-value="<%= project_drum_patterns_path(@project) %>">
  <div class="ml-36">
    <div class="mb-4 flex gap-4">
      <%= select_tag :drum_pattern, options_for_select(@drum_pattern_options), include_blank: true, class: "bg-gray-700 text-gray-100 rounded-lg", 
          data: { action: "change->project#setDrumPattern" }, id: "drum-pattern-select" %>
      <%= number_field_tag :bpm, @project.bpm, class: "w-20 bg-gray-600 rounded-lg text-gray-100", data: { project_target: "bpm", action: "project#save" } %>
    </div>

    <%= turbo_frame_tag :project do %>
      <div class="flex">
        <%= link_to "#", data: { action: "project#play", project_target: "play" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 text-gray-100">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
          </svg>
        <% end %>

        <%= link_to "#", class: "hidden", data: { action: "project#pause", project_target: "pause" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 text-gray-100">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
          </svg>
        <% end %>

        <%= link_to project_keyboard_path(@project), data: { turbo_frame: :project } do %>
          <%= image_tag "keyboard.png", class: "w-8 object-cover" %>
        <% end %>
      </div>
      <div class="w-full flex flex-col gap-2 overflow-x-auto mb-4 relative">
        <div data-project-target="cursor" class="hidden w-2 h-full bg-white absolute top-8 left-20 rounded-lg z-[100]"></div>

        <div class="flex ml-20">
          <% (1..16).each do |n| %>
            <span class="text-lg w-16 text-gray-100 flex-shrink-0"> <%= n %> </span>
          <% end %>
        </div>
        <% (1..5).each do |n| %>
          <div class="flex bg-gray-600" data-controller="draggable" 
              data-draggable-url-value="<%= project_playlists_path(@project, track_index: n) %>"
              data-action="drop->draggable#drop dragover->draggable#dragOver"
          >
            <% @playlist_track = @project.playlist_tracks.where(track_index: n)&.first %>
            <span class="w-20 flex items-center justify-center border-r-2 border-gray-700 text-gray-100 flex-shrink-0"> Track <%= n %> </span>
            <div class="h-16 w-full flex relative"
              data-controller="<%= "playlist-track" if @playlist_track %>" data-project-target="playlistTrack" 
              data-playlist-track-url-value="<%= project_drum_pattern_data_path(@project, @playlist_track.drum_pattern) if @playlist_track %>"
              data-playlist-track-save-url-value="<%= project_playlist_path(@project, @playlist_track) if @playlist_track %>"
              data-playlist-track-playlist-position-value="<%= @playlist_track&.playlist_position %>"
              data-action="note-playing->playlist-track#play mousedown->playlist-track#grab mouseup@window->playlist-track#letgo mousemove->playlist-track#move">
              <% (1..64).each do |n| %>
                <div class="h-full w-4 text-gray-100 flex-shrink-0 border-r border-gray-500"></div>
              <% end %>
              <% if @playlist_track %>
                <div class="absolute h-full top-0 w-64 p-1 playlist-track-container" style="left: <%= (@playlist_track&.playlist_position * 16) if @playlist_track&.playlist_position %>px">
                  <div class="h-full w-full bg-indigo-500 text-indigo-100 flex items-center justify-center rounded-lg">
                    Drum Pattern <%= @playlist_track.drum_pattern.index %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <% @project.drum_patterns.each.with_index do |drum_pattern, i| %>
          <div class="bg-gray-600 text-gray-100 h-16 flex items-center justify-center rounded-lg cursor-pointer hover:bg-indigo-500 hover:text-indigo-100" 
              draggable="true" data-id="<%= drum_pattern.id %>" data-controller="draggable" data-action="dragstart->draggable#dragStart"> Drum Pattern <%= i + 1 %> </div>
        <% end %>
      </div>
    <% end %>
    <%= render "studio/sidebar" %>
  </div>
</div>