<div class="bg-gray-900 p-8 min-h-screen">
  <%= turbo_frame_tag :project do %>
    <div class="flex mb-2">
      <%= link_to "Back", @project, class: "text-gray-100 bg-gray-600 rounded-lg p-3" %>
    </div>
    <div class="w-full flex">
      <div data-controller="keyboard" class="my-4 bg-indigo-500 rounded-lg p-2">
        <div class="settingsBar flex gap-8 mb-2">
          <div class="flex flex-col items-center">
            <span class="text-sm text-gray-100">Volume: </span>
            <%= range_field_tag "volume", 0.5, min: 0.0, max: 1.0, step: 0.01 , data: { keyboard_target: "volume", action: "keyboard#updateVolume" } %>
          </div>
          <div class="flex flex-col items-center">
            <span class="text-sm text-gray-100">Current waveform: </span>
            <%= select_tag :waveform, options_for_select(["sine", "square", "sawtooth", "triangle", "custom"].map { |n| [n.capitalize, n]}), 
                data: { keyboard_target: "waveform" }, class: "bg-gray-600 text-gray-400 rounded-lg" %>
          </div>

          <div class="flex flex-col items-center">
            <span class="text-sm text-gray-100">EQ Filters: </span>
            <%= select_tag :waveform, options_for_select(["lowpass", "highpass", "bandpass", "lowshelf", "highshelf", "peaking", "notch", "allpass"].map { |n| [n.capitalize, n]}), 
                data: { keyboard_target: "biquad" }, class: "bg-gray-600 text-gray-400 rounded-lg" %>
            <span class="text-sm text-gray-100">Frequency </span>
            <%= range_field_tag "biquad_freq", 0, min: 0, max: 400, step: 10 , data: { keyboard_target: "biquadFreq" } %>
            <span class="text-sm text-gray-100">Peak </span>
            <%= range_field_tag "biquad_peak", 0.5, min: 0.0, max: 1.0, step: 0.01 , data: { keyboard_target: "biquadPeak" } %>
          </div>
        </div>
        <div class="flex gap-1 bg-gray-100">
          <% ['C', 'Db', 'D', 'Eb', 'E', 'F', 'Gb', 'G', 'Ab', 'A', 'Bb', 'B'].each do |key| %>
            <div class="<%= key.include?('b') ? "w-6 bg-black hover:bg-gray-800 text-gray-100 h-32" : "w-8 bg-white hover:bg-gray-400 h-40" %> flex items-center justify-center"
              data-action="mousedown->keyboard#playNote mouseup@window->keyboard#releaseNote" 
              data-keyboard-note-param="<%= key %>" data-keyboard-octave-param="5"><%= key %></div>
          <% end %>
        </div>      
      </div>
    </div>
  <% end %>
</div>